<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd">

   <context:component-scan base-package="wang.ismy.seeaw3.server"/>
   <context:component-scan base-package="wang.ismy.seeaw3.server.service"/>
   <context:component-scan base-package="wang.ismy.seeaw3.server.dao"/>
   <context:component-scan base-package="wang.ismy.seeaw3.server.controller"/>
   <context:component-scan base-package="wang.ismy.seeaw3.server.config"/>
   <context:component-scan base-package="wang.ismy.seeaw3.common"/>


</beans>